const styles = {
    wrapper : {
        margin : 0,
        padding : 0,
        display : "flex",
        flexDirection : "row",
        border : "1px solid grey",
        borderRadius : 10
    },
    imageContainer : {},
    image : {
        width : 50,
        height : 50,
        borderRadius : 25
    },
    contentContainer : {
        marginLeft : 5,
        display : "flex",
        flexDirection : "column",
        justifyContent : "center"
    },
    nameText : {
        color : "black",
        fontSize : 16,
        fontWeight : "bold"
    },
    commentText : {
        color : "black",
        fontSize : 16
    }
}
